@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  /* margin: 0; */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #213677;
}

a:hover,
a:focus {
  color: #d96666;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS RESET ENDS */

:root {
  --btn-box-shadow: 0px 0.25rem 0.5rem hwb(0 51% 49%);
  --homebg: #e4e4e4;
  --hometxt: #222;
  --home-btn-text: #e4e4e4;
  --home-btn-bg: hsl(41, 96%, 18%);
  --home-btn-bg2: hsl(41, 96%, 28%);

  --add_edit_personbg: #d8d78f;
  --add_edit_persontxt: #432c2b;
  --add_edit_person_btn_bg1: #62418c;
  --add_edit_person_btn_text1: #fffec2;

  --add_edit_gift_btn_bg1: #273049;
  --add_edit_gift_btn_text1: #5f74ac;

  --gift_ideasbg: #c6edb3;
  --gift_ideastxt: #5c3f46;

  --add_edit_giftbg: #ccc9a1;
  --add_edit_gifttxt: #280004;

  --top_header_bg: #f4bb3f;
  --top_header_txt: #302d4d;

  --light-color-dark-bh: #979494;
  --dark-color-light-bg: #5b2142;

  --defaultfontstack: Figtree, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --headerfont: Righteous, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --text-light: #ffffea;
  --text-dark: #2c363f;
  --edit-bg-color: hsl(139, 17%, 27%);
  --edit-bg-color2: hsl(139, 17%, 17%);

  --gift-bg-color: hsl(191, 44%, 17%);
  --gift-bg-color2: hsl(191, 44%, 47%);

  --font-h1: 1.802rem;
  --font-h2: 1.602rem;
  --font-h3: 1.424rem;
  --font-h4: 1.266rem;
  --font-h5: 1.125rem;
  --font-small: 0.889rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
  font-family: var(--defaultfontstack);
  font-weight: 300;
}

/* form related css. Copied from previous assignments */
label,
.label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: var(--font-h5);
}

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
select,
textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25em;
  border: 0.125rem solid #ddd;
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
}

h5 {
  font-size: var(--font-h5);
}

h1.title {
  font-family: var(--headerfont);
  font-size: var(--font-h1);
  letter-spacing: 0.3rem;
}

h2.title {
  text-align: center;
}

.list--item--text_xl {
  font-size: var(--font-h3);
}

.list--item--text_lg {
  font-size: var(--font-h4);
}

.list--item--text_lg2 {
  font-size: var(--font-h5);
}

.list--item--text {
  font-size: var(--font-h6);
}

.list--item--text_small {
  font-size: var(--font-small);
}

.person--name {
}

.person--dob {
  font-size: var(--font-small);
  color: var(--dark-color-light-bg);
}

body.home {
  background-color: var(--homebg);
  color: var(--hometxt);
}
body.add_edit_person {
  background-color: var(--add_edit_personbg);
  color: var(--add_edit_persontxt);
}
body.gift_ideas {
  background-color: var(--gift_ideasbg);
  color: var(--gift_ideastxt);
}
body.add_edit_gift {
  background-color: var(--add_edit_giftbg);
  color: var(--add_edit_gifttxt);
}
header {
  min-height: 4rem;
  background-color: var(--top_header_bg);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header span {
  font-size: 3rem;
  line-height: 3rem;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-content: center;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
  color: var(--top_header_txt);
}
header h1 {
  font-size: 2rem;
  padding: 1rem 2rem;
  color: var(--top_header_txt);
}
header p {
  display: grid;
  place-content: center;
  color: #222;
  color: var(--top_header_txt);
}
main {
  min-height: 100vh;
  display: none; /* default */
  padding: 8rem 1rem 1rem 1rem; /* 5rem to leave space for the header */
}
body.home main#home,
body.add_edit_person main#add_edit_person,
body.gift_ideas main#gift_ideas,
body.add_edit_gift main#add_edit_gift {
  display: block;
}

body.home header .back {
  display: none;
}
body.home header .add {
  /* display: grid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
body.add_edit_person header .back {
  /* display: grid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
body.add_edit_person header .add {
  display: none;
}

body.add_edit_gift header .add {
  display: none;
}

body.add_edit_person .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  row-gap: 1rem;
}

body.add_edit_gift .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  row-gap: 1rem;
}

.empty--list-warning {
  font-size: var(--font-h4);
  opacity: 0.5;
  margin-top: 2rem;
}

.list--container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list--container--item {
  border-top: 0.0625rem solid gray;
  border-radius: 0.15rem;
  display: grid;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  -ms-border-radius: 0.15rem;
  -o-border-radius: 0.15rem;
  padding: 1rem 0;
}

.person--container {
}

.person--container .person--list--item {
  grid-template-columns: 1fr repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
}

.person--container .person--list--item:hover {
  background-color: lightgrey;
}

.person--container .person--name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.person--container .person--dob {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.button--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person--container .edit--button--container {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
}

.person--container .gift--button--container {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
}

.gift--container {
  /* list-style-type: none; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 2rem; */
}

.gift--container .gift--list--item {
  grid-template-columns: 1fr repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
}

.gift--list--item .gift--name {
  grid-column: 1 /2;
  grid-row: 1/2;
}

.gift--list--item .gift--store {
  grid-column: 1 /2;
  grid-row: 2/3;
}
.gift--list--item .gift--url {
  grid-column: 1 / 2;
  grid-row: 3/4;
}

.gift--list--item .edit--button--container {
  grid-column: 2/3;
  grid-row: 1/-1;
}

.gift--list--item .delete--button--container {
  grid-column: 3/4;
  grid-row: 1/-1;
}

/* btn person--edit--btn */
.btn {
  display: block;
  border: 1px solid black;
  font-size: 3rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.text-btn {
  display: block;
  border: 1px solid black;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: var(--font-h5);
  cursor: pointer;
  padding: 0.5rem 0;
  /* font-weight: bold; */
  overflow: hidden;
  flex-wrap: nowrap;
}

.text-btn-icon {
  display: block;
  font-size: var(--font-h4);
}

.home_page_btn {
  background-color: var(--home-btn-bg);
  border: 0.0625rem solid var(--home-btn-bg);
  color: var(--home-btn-text);
}

.home_page_btn:hover {
  background-color: var(--home-btn-bg2);
  border: 0.0625rem solid var(--home-btn-bg2);
  color: var(--home-btn-text);
  box-shadow: var(--btn-box-shadow);
}

.add_person_page_btn {
  background-color: var(--add_edit_person_btn_bg1);
  border: 0.0625rem solid var(--add_edit_person_btn_bg1);
  color: var(--add_edit_person_btn_text1);
}

.add_person_page_btn:hover {
  color: var(--add_edit_person_btn_bg1);
  border: 0.0625rem solid var(--add_edit_person_btn_text1);
  background-color: var(--add_edit_person_btn_text1);
}

.add_gift_page_btn {
  background-color: var(--add_edit_gift_btn_bg1);
  border: 0.0625rem solid var(--add_edit_gift_btn_bg1);
  color: var(--add_edit_person_btn_text1);
}

.add_gift_page_btn:hover {
  color: var(--add_edit_gift_btn_bg1);
  border: 0.0625rem solid var(--add_edit_person_btn_text1);
  background-color: var(--add_edit_person_btn_text1);
}

.edit-btn {
  background-color: var(--edit-bg-color);
  border-color: var(--edit-bg-color);
  color: var(--text-light);
}

.edit-btn:hover {
  background-color: var(--edit-bg-color2);
}

.gift-page-btn {
  background-color: var(--gift-bg-color);
  border-color: var(--gift-bg-color);
  color: var(--text-light);
  box-shadow: var(--btn-box-shadow);
}

.gift-page-btn:hover {
  background-color: var(--gift-bg-color2);
}

/* ADD/EDIT PERSON PAGE */
.name__container {
  /* margin-top: 1rem; */
}

.dob__container {
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* .container .title {
  grid-column: 1/-1;
} */

.add_edit_person_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  row-gap: 1rem;
}

.add_edit_person_container .title {
  grid-column: 1/-1;
}
.add_edit_person_container .error__container {
  grid-column: 1/-1;
}

.add_edit_person_container .name__container {
  grid-column: 1/-1;
}

.add_edit_person_container .dob__container {
  grid-column: 1/-1;
}

.add_edit_person_container .button__container {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.add_edit_person_container .save-btn {
}

.add_edit_person_container .delete-btn {
}

.add_edit_person_container .cancel-btn {
}

.add_edit_person_container .download-btn {
}

.add_edit_gift_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  row-gap: 1rem;
}

.add_edit_gift_container .title {
  grid-column: 1/-1;
}
.add_edit_gift_container .error__container {
  grid-column: 1/-1;
}

.add_edit_gift_container .name__container {
  grid-column: 1/-1;
}

.add_edit_gift_container .dob__container {
  grid-column: 1/-1;
}

.add_edit_gift_container .button__container {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

@media only screen and (min-width: 45rem) {
  :root {
    --font-h1: 2.488rem;
    --font-h2: 2.074rem;
    --font-h3: 1.728rem;
    --font-h4: 1.44rem;
    --font-h5: 1.2rem;
    --font-small: 0.883rem;
  }

  main {
    max-width: min(100%, 60rem);
    margin-left: auto;
    margin-right: auto;
  }

  /* add/edit person page, buttons section becomes a grid */

  .add_edit_person_container .button__container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: wrap;
  }

  .add_edit_person_container .save-btn {
    flex: 1;
  }

  .add_edit_person_container .delete-btn {
    flex: 1;
  }

  .add_edit_person_container .cancel-btn {
    flex: 1;
  }

  .add_edit_person_container .download-btn {
    flex: 1;
  }

  .add_edit_gift_container .button__container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: wrap;
  }

  .add_edit_gift_container .save-btn {
    flex: 1;
  }

  .add_edit_gift_container .cancel-btn {
    flex: 1;
  }

  /* add_edit_gift_container */
}

@media only screen and (min-width: 60rem) {
  :root {
    --font-h1: 3.052rem;
    --font-h2: 2.441rem;
    --font-h3: 1.953rem;
    --font-h4: 1.563rem;
    --font-h5: 1.25rem;
    --font-small: 0.8rem;
  }
  main {
    /* max-width: 60%; */
    margin-left: auto;
    margin-right: auto;
  }

  .add_edit_person_container .save-btn {
    /* flex: 20%; */
  }

  .add_edit_person_container .delete-btn {
    /* flex: 20%; */
  }

  .add_edit_person_container .cancel-btn {
    /* flex: 20%; */
  }

  .add_edit_person_container .download-btn {
    /* flex: 20%; */
  }
}
